@model IEnumerable<VicGenesis3.Models.VicFinal>
@{
    ViewBag.Title = "Show";
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--font-family-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script nonce="rAnd0m123" src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script nonce="rAnd0m123" src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- title of site -->
    <title>VicGenesis</title>
    <!-- For favicon png -->
    <link rel="shortcut icon" type="image/icon" href="~/assets/logo/favicon.png" />

    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <!--linear icon css-->
    <link rel="stylesheet" href="~/assets/css/linearicons.css">
    <!--animate.css-->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!--flaticon.css-->
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <!--slick.css-->
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/slick-theme.css">

    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- bootsnav -->
    <link rel="stylesheet" href="~/assets/css/bootsnav.css">

    <!--style.css-->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!--responsive.css-->
    <link rel="stylesheet" href="~/assets/css/responsive.css">


    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script nonce="rAnd0m123" src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script nonce="rAnd0m123" src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body style="background-image:url(/Wopop_files/login_bgx.gif)">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="~/Home/Index">Homepage</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Know more on Map
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Home/Map">Commuting Cost</a></li>
                            <li class="divider"></li>
                            <li><a href="~/Home/MapCulture">Cultural Groups Map</a></li>
                            <li class="divider"></li>
                            <li><a href="~/Home/MapCriminal">Criminal Incidents Map</a></li>

                        </ul>
                    </li>
                    <li><a href="~/VicFinals/SelectGroup">Culture Sorting</a></li>
                    <li><a href="~/VicFinals/Select">Areas Ranking </a></li>
                    <li><a href="~/VicFinals/Compare">Areas Comparison </a></li>


                </ul>
            </div>
        </div>
    </nav>


    @if (ViewBag.Culture == ViewBag.Culture1 || ViewBag.Culture1 == ViewBag.Culture2 || ViewBag.Culture == ViewBag.Culture2)
    {<div class="alert alert-danger" align="center">You may selected repeated perferences!</div>}

    <section id="blog" class="blog">
        <div class="container">
            <div class="section-header">
                <h2>Top3 towns are shown below.</h2>
                <a href="~/VicFinals/Select" style="color:blue"> <u>click here to re-select the perferences</u></a>

            </div>
            <div class="blog-content">
                <div align="center">
                    <a href="~/Home/Index">
                        <button type="button" class="btn btn-warning">Back to Homepage</button>
                    </a>
                </div>
                <br />                <br />
                <br />

                <div class="row">
                    <div class="col-md-4 col-sm-6"><h3>1st</h3></div>
                    <div class="col-md-4 col-sm-6"><h3>2nd</h3></div>
                    <div class="col-md-4 col-sm-6"><h3>3rd</h3></div>
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 col-sm-6">
                            <div class="single-blog-item">

                                <div class="single-blog-item-txt">

                                    <h1 style="color:brown"> Community Name:  @Html.DisplayFor(modelItem => item.Community_Name)</h1>
                                    <h4>
                                        Services <span>of</span> <a>funded</a>  <a> @Html.DisplayFor(modelItem => item.Funded_services)</a>
                                    </h4>
                                    <h4>
                                        Humanitarian <span></span> <a>Assistance Center</a>  @Html.DisplayFor(modelItem => item.HACC_services)
                                    </h4>
                                    <h4>
                                        Services <span>of</span> <a>Health and medicine</a>   @Html.DisplayFor(modelItem => item.Health_or_Human_services)
                                    </h4>
                                    <h4>
                                        Sites <span>of</span> <a>Dental</a>  <a> @Html.DisplayFor(modelItem => item.Dental_sites)</a>
                                    </h4>
                                    <h4>
                                        Distance <span>to</span> <a>health services</a>  <a> @Html.DisplayFor(modelItem => item.Distance_Service)</a>
                                    </h4>
                                    <h4>
                                        Numbers <span>of</span> <a> schools</a>  <a> @Html.DisplayFor(modelItem => item.Primary_schools)</a>
                                    </h4>
                                    <h4>
                                        Numbers <span>of</span> <a>Households</a>  <a> @Html.DisplayFor(modelItem => item.Number_of_households)</a>
                                    </h4>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </section>

    <div id="scroll-Top">
        <div class="return-to-top">
            <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
        </div>

    </div><!--/.scroll-Top-->
    </footer><!--/.footer-->
    <!--footer end-->
    <!-- Include all js compiled plugins (below), or include individual files as needed -->
    <script src="~/assets/js/jquery.js"></script>

    <!--modernizr.min.js-->
    <script nonce="rAnd0m123" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!--bootstrap.min.js-->
    <script nonce="rAnd0m123" src="~/assets/js/bootstrap.min.js"></script>

    <!-- bootsnav js -->
    <script nonce="rAnd0m123" src="~/assets/js/bootsnav.js"></script>
    <!--feather.min.js-->
    <script nonce="rAnd0m123" src="~/assets/js/feather.min.js"></script>
    <!-- counter js -->
    <script nonce="rAnd0m123" src="~/assets/js/jquery.counterup.min.js"></script>
    <script nonce="rAnd0m123" src="~/assets/js/waypoints.min.js"></script>
    <!--slick.min.js-->
    <script nonce="rAnd0m123" src="~/assets/js/slick.min.js"></script>
    <script nonce="rAnd0m123" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!--Custom JS-->
    <script nonce="rAnd0m123" src="~/assets/js/custom.js"></script>

</body>

</html>